.image-slider-background {
  background-color: #feeae9;
}
.catagories img {
  width: 100px;
}
.buy-now-button {
  background-color: #ff3283;
  color: white;
  height: 52px;
  width: 168px;

  border: none;
  border-radius: 8px;
  padding: 14px, 20px, 14px, 20px;
}
